<div class="flex flex-col h-screen bg-slate-100">
    <app-nav-bar [buttons]="'101001'" (onClicked)="getClicked($event)"></app-nav-bar>
    <span id="spanTrigger" #editControlTrigger="matMenuTrigger" [matMenuTriggerFor]="products"></span>
    <div class="flex-1 px-10 pt-1 overflow-auto">
        <div class="flex flex-col justify-between even:bg-white odd:bg-blue-100" *ngFor="let item of httpCat.productList">
            <div class="flex justify-between">
                <div (click)="showArea(item.familia, 'item')">{{item.descripcion_comercial}}</div>
                <div class="text-sky-500">
                    <mat-icon (click)="showArea(item.familia, 'item')">edit</mat-icon>
                    <mat-icon (click)="showArea(item.familia, 'materiales')">list</mat-icon>
                    &nbsp;
                    <mat-icon (click)="ask2Save()">done</mat-icon>
                    <!--
                    <mat-icon color="warn">delete</mat-icon>
                    -->
                </div>
            </div>

            <div class="p-2 bg-gray-200" *ngIf="getExpand(item.familia, 'item')">
                <div class="flex-1 content-center flex border-b border-violet-500">
                    <div class="font-medium mr-2 h-12">Detalles del artículo</div>
                </div>
                <app-dynamic-form class="flex-1 p-1 mt-2" [jsonFormData]="itemData" [values]="itemResult"
                    [reset]="itemreset" (result)="onGetData($event)"></app-dynamic-form>
                <div class="border border-gray-200 h-14">
                    Existencia:
                    {{itemResult.existencia}}
                </div>
                <label>
                    Foto/Image.
                    <img class="h-60 border min-w-60 border-gray-400 py-1 px-2 rounded shadow-sm"
                        [src]="getComImage(item, null)">
                    <div>
                        
                    </div>
                    <input style="display: none" (click)="fileChangeEvent(item, null)" accept=".png,.jpg,.jpeg">
                </label>
            </div>

            <div class="p-2 flex flex-col bg-gray-200" *ngIf="getExpand(item.familia, 'materiales')">
                <div class="flex-1 flex content-center border-b border-violet-500">
                    <div class="font-medium mr-2 h-12">Listado de Materiales</div>
                    <button mat-stroked-button (click)="addMateriales()">
                        <mat-icon color="primary" >add</mat-icon>
                    </button>
                </div>
                <div class="p-2 text-sm">
                    <div class="flex flex-col justify-start" *ngFor="let itemMat of item.materiales">
                        <div class=" flex flex-row">
                            <div class="grow">{{itemMat.codigo}} - {{itemMat.color_nombre}} Existencia: {{itemMat.inventario}}</div>
                            <div class="ml-2">
                                <mat-icon color="primary"
                                    (click)="showArea(itemMat.codigo, 'mat_select')">edit</mat-icon>
                                <mat-icon color="primary" (click)="deleteMateriales(itemMat)">delete</mat-icon>
                            </div>
                        </div>
                        <div *ngIf="getExpand(itemMat.codigo, itemMat.codigo)">

                            <app-dynamic-form class="flex-1 p-1 mt-2" [jsonFormData]="materialData" [values]="materialResult"
                                (result)="onGetMaterialData($event)"></app-dynamic-form>

                            <label>
                                Foto/Image 1.
                                <img class="h-60 border min-w-60 border-gray-400 py-1 px-2 rounded shadow-sm"
                                    [src]="getComImage(item, itemMat, 0)">
                                <div>
                                </div>
                                <input style="display: none" (click)="fileChangeEvent(item, itemMat, 0)"
                                    accept=".png,.jpg,.jpeg">
                            </label>

                            <label>
                                Foto/Image 2.
                                <img class="h-60 border min-w-60 border-gray-400 py-1 px-2 rounded shadow-sm"
                                    [src]="getComImage(item, itemMat, 1)">
                                <div>
                                </div>
                                <input style="display: none" (click)="fileChangeEvent(item, itemMat, 1)"
                                    accept=".png,.jpg,.jpeg">
                            </label>

                            <label>
                                Foto/Image 3.
                                <img class="h-60 border min-w-60 border-gray-400 py-1 px-2 rounded shadow-sm"
                                    [src]="getComImage(item, itemMat, 2)">
                                <div>
                                </div>
                                <input style="display: none" (click)="fileChangeEvent(item, itemMat, 2)"
                                    accept=".png,.jpg,.jpeg">
                            </label>
                            <label>
                                Foto/Image 4.
                                <img class="h-60 border min-w-60 border-gray-400 py-1 px-2 rounded shadow-sm"
                                    [src]="getComImage(item, itemMat, 3)">
                                <div>
                                </div>
                                <input style="display: none" (click)="fileChangeEvent(item, itemMat, 3)"
                                    accept=".png,.jpg,.jpeg">
                            </label>

                            <label>
                                Foto/Image 5.
                                <img class="h-60 border min-w-60 border-gray-400 py-1 px-2 rounded shadow-sm"
                                    [src]="getComImage(item, itemMat, 4)">
                                <div>
                                </div>
                                <input style="display: none" (click)="fileChangeEvent(item, itemMat, 4)"
                                    accept=".png,.jpg,.jpeg">
                            </label>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>

    <mat-menu #products="matMenu">
        <div class="font-medium">
            <mat-icon color="primary">cloud_upload</mat-icon>
            Base remota
        </div>
        
            <button class="pl-4" mat-menu-item (click)="onExcel2Dtb($event)">
                Excel hacia DtBase
            </button>
            <label class="label">
                <input type="file" (change)="fileImagesChangeEvent($event)" required multiple
                    accept=".png,.jpg,.gif,.jpeg" />
                <span class="pl-4 my-2">Imágenes hacia DtBase</span>&nbsp;&nbsp;
            </label>
            <!--<button (click)="uploadAndcompressFiles()">Upload Multiple Images</button>-->
        
        <hr>
        <div class="font-medium">
            <mat-icon class="mt-1" color="primary">edit</mat-icon>
            Base local
        </div>
        <button mat-menu-item (click)="onDtb2Excel()">
            Data base hacia Excel
        </button>
        <button mat-menu-item (click)="onAllImgs()">
            Lista de imágenes en la base
        </button>



    </mat-menu>

    <input #excelUpload type="file" class="invisible" (change)="onExcelFileSelected($event)" accept=".xlsx" />